Code/IGRSS/IGRSS_Final/BusinessLayer/Web References/SdcService/StampDutyCalculator.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="GetStampDutyCalculation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Request" type="tns:ValuationRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ValuationRequest">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ValuationId" type="s1:guid" />
          <s:element minOccurs="1" maxOccurs="1" name="AdjudicationId" type="s1:guid" />
          <s:element minOccurs="1" maxOccurs="1" name="DistrictCode" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TalukaCode" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="VillageCode" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="SchemeType" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="EstimatedPrice" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="IsConstructedProperty" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="SchemeNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PlotNo" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="AreaOfPlot" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="AreaOfConstruction" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="TypeOfLand" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="InternalElectrificationRate" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="DevelopmentRate" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="OtherFeeRate" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="YearOfConstruction" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SpecialDeductionRate" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="LiftExpense" type="s:decimal" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetStampDutyCalculationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetStampDutyCalculationResult" type="tns:ValuationResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ValuationResult">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="m_ValuationDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="ValuationId" type="s1:guid" />
          <s:element minOccurs="1" maxOccurs="1" name="AdjudicationId" type="s1:guid" />
          <s:element minOccurs="1" maxOccurs="1" name="DistrictCode" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TalukaCode" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="VillageCode" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="SchemeType" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="EstimatedPrice" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="IsConstructedProperty" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="SchemeNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PlotNo" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="AreaOfPlot" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="AreaOfConstruction" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="TypeOfLand" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="InternalElectrificationRate" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="DevelopmentRate" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="OtherFeeRate" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="YearOfConstruction" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SpecialDeductionRate" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="LiftExpense" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="LandRate" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="ValueOfLand" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="InternalElectrificationExpense" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="DevelopmentExpense" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="OtherFees" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="SpecialDeduction" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="ValuationDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="EstimatedPriceOfConstruction" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="LifeOfConstruction" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="Depreciation" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="NetPrice" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="ValueOfConstruction" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="ValuationOfConstruction" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="Remarks" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="StampDuty" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="StampDutyRate" type="s:decimal" />
        </s:sequence>
      </s:complexType>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetStampDutyCalculationSoapIn">
    <wsdl:part name="parameters" element="tns:GetStampDutyCalculation" />
  </wsdl:message>
  <wsdl:message name="GetStampDutyCalculationSoapOut">
    <wsdl:part name="parameters" element="tns:GetStampDutyCalculationResponse" />
  </wsdl:message>
  <wsdl:portType name="StampDutyCalculatorSoap">
    <wsdl:operation name="GetStampDutyCalculation">
      <wsdl:input message="tns:GetStampDutyCalculationSoapIn" />
      <wsdl:output message="tns:GetStampDutyCalculationSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="StampDutyCalculatorSoap" type="tns:StampDutyCalculatorSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetStampDutyCalculation">
      <soap:operation soapAction="http://tempuri.org/GetStampDutyCalculation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="StampDutyCalculatorSoap12" type="tns:StampDutyCalculatorSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetStampDutyCalculation">
      <soap12:operation soapAction="http://tempuri.org/GetStampDutyCalculation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StampDutyCalculator">
    <wsdl:port name="StampDutyCalculatorSoap" binding="tns:StampDutyCalculatorSoap">
      <soap:address location="http://localhost:50970/IgrssWebservices/StampDutyCalculator.asmx" />
    </wsdl:port>
    <wsdl:port name="StampDutyCalculatorSoap12" binding="tns:StampDutyCalculatorSoap12">
      <soap12:address location="http://localhost:50970/IgrssWebservices/StampDutyCalculator.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>